<header>
    <div class="container">
        <div class="row">
            <div class="one-half column logo">
                <div class="row">
                    <div class="one column">
                        <a href="/"><img src="images/logo.png"></img></a>
                    </div>
                    <div class="four columns">
                        <a href="/">Trivial Express</a>
                    </div>
                </div>
            </div>
            <div class="one-half column">
                <nav>
                    <a href="/">Inicio</a>
                    <a href="/about">Sobre la app</a>
                </nav>
            </div>
        </div>
    </div>
</header>