<div class="container">
    <h5><b>Resultados</b></h5>
    <p>Has acertados <a class="result"><%= success %></a> preguntas y tu puntuación es <a class="result"><%= result %> puntos.</a></p>
    <p><a class="button button-primary" href="/">Volver a Inicio</a></p>
</div>